Flask==1.0.2
Flask-Login==0.4.1
requests==2.19.1
Jinja2==2.10
Flask-JWT-Extended==3.15.0
Flask-RESTful==0.3.7
itsdangerous==1.1.0
pymongo==2.8
mongoengine==0.8.0
flask_mongoengine==0.7.1
Flask-SocketIO
gevent